.word-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    padding: 20px;
    border-top: 2px solid rgb(227, 11, 92);
}

.word-card-comment {
    margin-bottom: 10px;
}