.all-articles-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', sans-serif;
    margin-bottom: 5em;
}
    
.all-articles-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
}

.all-articles-heading {
    margin: 1em 0;
}

.all-articles-link {
    text-decoration: none;
    color: black;
}