.post-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 1em;
    margin-bottom: 3em;
    font-family: 'Trebuchet MS', sans-serif;
    width: 100%;
}

.post {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-family: 'Trebuchet MS', sans-serif;
    width: 70%;
}

.post-markdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    color: black;
}

.post-markdown h1 {
    margin-bottom: 20px;
    font-size: 3em;
    font-style: italic;
    text-align: center;
}

.post-markdown p {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: justify;
    
}

.post-markdown p:first-of-type{
     font-style: italic;
     text-align: center;
  }

.post-markdown img {
    max-width: 70%;
    height: auto;
    overflow: hidden;
    align-self: center;
}

img[alt="portrait"] {
    max-width: 60%;
    align-self: center;
}

img[alt="long"] {
    max-width: 60%;
    align-self: center;
}

.post-markdown h3 {
    font-style: italic;
    align-self: flex-start;
    margin-left: 5px;
}

/* --------------------------------------- */
/* Tags */

.tag-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    border-top: 1px solid black;
    margin-top: 15px;
    padding: 15px 0;
}

.tag-link {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;
    padding: 5px 10px;
    text-decoration: none;
    outline: 1px solid rgb(227, 11, 92);
    border-radius: 7px;
    color: rgb(227, 11, 92);
    background-color: whitesmoke;
}

.tag-link:hover {
    background-color: rgb(227, 11, 92);
    color: white;
    outline: 1px solid rgb(227, 11, 92);
}

.tag-span {
    text-transform: capitalize;
    /* font-weight: bold; */
    font-size: 20px;
}

.caption {
    color: red;
}