.form-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Trebuchet MS', sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    font-family: 'Trebuchet MS', sans-serif;
    margin-top: 10px;
}

.form-heading{
    text-align: center;
    width: 100%;
    font-style: italic;
    margin: 5px 0;
    width: 100%;
    font-size: 30px;
}

.fields-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.input {
    width: 100%;
    margin-top: 5px;
    width: 95%;
    padding: 3px;
}

.input::placeholder {
    font-family: 'Trebuchet MS', sans-serif;
    font-style: italic;
    padding-left: 5px;
}

.textarea {
    margin: 5px 0;
}

.button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    align-items: center;
}

.form-button {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 5px;
    padding: 10px;
    border: none;
    text-decoration: none;
    outline: 1px solid black;
    border-radius: 7px;
    background-color: whitesmoke;
    min-width: 160px;
}

.form-button:hover {
    background-color: rgb(227, 11, 92);
    font-weight: bold;
    color: white;
    outline: 1px solid rgb(227, 11, 92);
    cursor: pointer;
}

.result-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
}

.result-text {
    width: 100%;
    white-space: pre-wrap;
}

.result-text.first {
    padding-bottom: 20px;
}

.result-text.second {
    padding-bottom: 10px;
}

.input.select {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.select-label {
    margin-right: 10px;
}

.select-option {
    width: 120px;
    text-align: left;
}

.select-article-option {
    width: 200px;
    text-align: left;
}

.word-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-family: 'Trebuchet MS', sans-serif;
    margin-top: 10px;
}

.word-form-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: 'Trebuchet MS', sans-serif;
}

.word-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-family: 'Trebuchet MS', sans-serif;
    margin-top: 10px;
}

.word-result-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    width: 50%;
    font-family: 'Trebuchet MS', sans-serif;
    margin-top: 60px;
}