.all-forms-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    flex-direction: column;
    font-family: 'Trebuchet MS', sans-serif;
}

.admin-heading {
    font-style: italic;
    margin-bottom: 30px;
    color: rgb(227, 11, 92)
}

.all-forms-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.form-item {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    outline: 1px solid black;
    border-radius: 7px;
    background-color: whitesmoke;
    min-width: 160px;
}

.form-item:hover {
    background-color: rgb(227, 11, 92);
    font-weight: bold;
    color: white;
    outline: 1px solid rgb(227, 11, 92);
}

/* --------------------------------- */

.form-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-heading {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.form-ingredients, .form-steps, .form-notes {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}