.series-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    border: 1px solid red;
}

.series-item {
    width: 20%;
    margin: 10px;
}

.fas {
    font-size: 80px;
}

.series-heading {
    text-align: center;
}