.article-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 3em;
    font-family: 'Trebuchet MS', sans-serif;
}

.markdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
    background-color: whitesmoke;
    color: black;
}

.markdown h1 {
    margin-bottom: 20px;
    font-size: 3em;
    font-style: italic;
    text-align: center;
}

.markdown p {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: justify;
}

.markdown p:first-of-type{
     font-style: italic;
  }

.markdown img {
    max-width: 70%;
    height: auto;
    overflow: hidden;

    align-self: center;
}

img[alt="portrait"] {
    max-width: 60%;
    align-self: center;
}

img[alt="long"] {
    max-width: 60%;
    align-self: center;
}

.markdown h3 {
    font-style: italic;
    align-self: flex-start;
    margin-left: 5px;
}
