.header-navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    background-color:whitesmoke;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    /* position: sticky;
    top: 0; */
}
.header-title {
    font-family: Pattaya;
    font-size: 50px;
    text-align: center;
    color: black;
}
  
.header-link {
    text-decoration: none;
}