@font-face {
  font-family: 'Pattaya';
  src: url('../public/fonts/Pattaya/Pattaya-Regular.ttf');
}

@font-face {
  font-family: 'Oswald';
  src: url('../public/fonts/Oswald/Oswald-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:whitesmoke;
}